<form>
    <h3>Nytt Spel</h3>

    <label for="title">Titel</label>
    <input type="text" id="title" />

    <label for="desc">Beskrivning</label>
    <textarea id="desc" rows="10" cols="50"></textarea>
  
    <label for="image">Bild</label>
    <input type="file" id="image" />

    <label for="genre">Genre</label>
    <select name="genre" id="genre">
      <option>Dynamiska options från databas</option>
    </select>
  
    <label for="releaseYear">Lanseringsår</label>
    <input type="number" id="releaseYear" />
  
    <button>Lägg till</button>
  </form>
  