<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <a href="/">
        <img
          src="http://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/8ae52f3daedb0d1.png"
        />
      </a>
      <form action="/search">
        <input type="search" placeholder="Sök spel..." name="q" />
      </form>
    </header>
    <main><%-body%></main>
    <footer>
      <small>Copyright Highscore</small>
      <br/>
      <br/>
      <a href="/admin/games">Admin</a>
    </footer>
  </body>
</html>
