<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <a href="/">
        <img
          src="https://e7.pngegg.com/pngimages/926/23/png-clipart-super-space-invaders-91-space-invaders-extreme-space-invaders-get-even-bubble-bobble-space-invaders.png"
        />
      </a>
      <form action="/search">
        <input type="search" placeholder="Sök spel..." name="q" />
      </form>
    </header>
    <main><%-body%></main>
    <footer>
      <small>Copyright Highscore</small>
    </footer>
  </body>
</html>
