<div class="adminFlex">
  <h2>Spel</h2>
  <a href="/admin/games/new"> <button>Nytt spel</button></a>
</div>
<table id="gamesTable">
  <thead>
    <tr>
      <th>Id</th>
      <th>Titel</th>
      <th>Genre</th>
      <th>Lanseringsår</th>
    </tr>
  </thead>
  <tbody>
    <% games.forEach(game => { %>
    <tr>
      <td><%= game.game_id %></td>
      <td><%= game.game_title %></td>
      <td><%= game.genre_name %></td>
      <td><%= game.game_release_year.toLocaleDateString(); %></td>
    </tr>
    <% }) %>
  </tbody>
</table>
