<div class="form">
  <h2>Nytt Spel</h2>
  <form method="post">
    <label for="title">Titel</label>
    <div>
      <input type="text" id="title" name="title" />
    </div>
    <label for="desc">Beskrivning</label>
    <div>
      <textarea id="desc" name="description" rows="10" cols="50"></textarea>
    </div>
    <label for="image">Bild</label>
    <div>
      <input type="text" id="image" name="imageUrl" />
    </div>
    <label for="genre">Genre</label>
    <div>
      <select name="genre" id="genre">
      <% genres.forEach(genre => { %> 
        <option value="<%= genre.id %>"><%= genre.name %></option>
     <% }) %>
      </select>
    </div>
    <label for="releaseYear">Lanseringsår</label>
    <div>
      <input type="date" id="releaseYear" name="releaseYear" />
    </div>
    <div>
      <button>Lägg till</button>
    </div>
  </form>
</div>
