<div class="form">
  <h2>Nytt highscore</h2>

  <form method="post">
    <label for="games">Spel</label>
    <div>
      <select name="game" id="game">
        <% games.forEach(game => { %> 
          <option value="<%= game.id %>"><%= game.title %></option>
       <% }) %>
      </select>
    </div>

    <label for="player">Spelare</label>
    <div>
      <input type="text" id="player" name="player" />
    </div>

    <label for="date">Datum</label>
    <div>
      <input type="date" id="date" name="date" />
    </div>

    <label for="score">Poäng</label>
    <div>
      <input type="number" id="score" name="points" />
    </div>
    <div>
      <button>Lägg till</button>
    </div>
  </form>
</div>
